.create {
  position: relative;
  align-items: center;
  background-color: #FFE6E2;
  padding-top: 5px;
  height: 969px;
  z-index: 1;
}
.color{
  color: #F09C96;
}

.create h2 {
  font-size: 70px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
  line-height: 1.2;
  margin-left: 26pc;
}

.create p {
  font-size: 13px;
  color: #555;
  line-height: 1.8;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 7pc;
  margin-left: 32pc;
}


.create-image {
  position: absolute;
  width: 811px;
  height: 543px;
  border-radius: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -328px;
  margin-right: -50%;
  z-index: 998;
}

.create-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 100px;
}